 .landingpage{
    background-image: url('../src/Components/Assets/vegetables-set-left-black-slate.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    height:60vh;
    color:white !important;
}

*:focus {
    outline: none !important
}

.navbard {
    background-color: white !important;
    color: black !important;
}

.logoimg {
    width: 120px;
    height: 60px;
}

.navlinks {
    text-align: center;
    font-size: 16px !important;
    font-family: var(--font-family);
    font-weight: 700;
    padding: 10px;
    color: black !important;
}

:root {
    --font-family: 'Inter', sans-serif;
    --background-color: #eee;
    --border-color: #eee;
    --btn-color: #007456;
    --primary-color: #111111;
    --filter-heading: #999;
    --text-color: #555555;
    --option-color: #007456;
}
.navlinks:hover {
    color: orange !important;
}
.textcolor{
    color: var(--text-color);
}
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.submitbtn , .booktable {
    border: 0px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--btn-color);
    color: white;
    padding: 5px;
    text-align: center;
}
.itemssection{
    border:1px solid var(--border-color);
}
.iconsize{
    width:70px;
    height: 70px;
}
.findjobbtn:hover {
    border: 0px;
    border-radius: 30px;
    font-size: 16px;
    background-color: var(--btn-color);
    color: white;
}


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide a{
    text-decoration:none;
    color:black;
    font-size: 18px;
    font-family: var(--font-family);
  }
  .maincourse{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 600;
  }
  .footer {
    font-size: 16px;
    background: var(--background-color);
    color: black !important;
}

.footer-bg-dark {
    background:var(--background-color);
}

.footertext,.footer-widget ul li a,.footer-widget ul li p{
    text-decoration: none;
    color:black !important;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
}
.footer-heading{
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 600;
}
.book-table{
    background-image: url('./Components/Assets/background-circle.jpg');
    visibility: visible;
    animation-delay: 0.5s;
}
.book-table {
    padding: 25% 15%!important;
}
.becom-membr {
    border-radius: 50%;
    height: 600px;
    width: 600px;
    background-color: #fff;
}
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
.book-table .membr-contnt {
    padding: 0;
}
.membr-contnt {
    padding: 26% 15%;
}
.fs-50 {
    font-size: 3.125rem;
}
.navlinks a{
    text-decoration: none !important;
    color: #111111 !important;
}
 .bcom-membr input, select {
    width: 100%;
    border-radius: 50px;
    padding: 10px;
}
.book-table input {
    color: #666;
    border-radius: 40px;
    border: 2px solid #d1ddcd;
    padding: 1rem 2rem;
    font-size: 1rem;
}
.mb-3 {
    -bottom: 1rem!important;
}

.becom-membr input {
    height: 3.875rem;
    width: 100%;
    text-align: center;
    color: #666;
    -bottom: 10px;
}
#im {position: relative;	top: 20px;	left: 60px;}

/*menu*/ 
	.a {	text-decoration: none;	position: relative; 	color: black;	
		font-family: 'Noto Sans JP', sans-serif;	max-width: 50%;}

/*location*/ 
	.loc {text-decoration: none;	position: relative;	color: black;	
		font-family: 'Noto Sans JP', sans-serif; font-size: 13px;	min-width: 10%;}

/*header buttons*/ 
	.btn {background-color: #FFFFFF;	border: solid black;	text-decoration: none;	padding: 10px;	
			border-radius: 20px;	text-align: center;	color:black;}
		.btn:hover {background-color: #f5f5f5;}

	.btn1 {background-color: #000000;	border: solid black;	position: relative;	
		text-decoration: none; 	padding: 10px;	border-radius: 20px; text-align: center;	color:white;}
		.btn1:hover {background-color: #434242;}

	hr {height: 1px;	background-color: #ccc;	border: none;}
    .head2 {max-width: 50%; text-align: center; }
    .h1 {font-family: 'Roboto', sans-serif;	font-size: 35px; color: rgb(1, 53, 1);}
	#h2 {font-family: 'Montserrat', sans-serif;	font-size: 25px;}
	#detail {font-family: 'Montserrat', sans-serif;	font-size: 16px;}
	#i1 

	.ordertext {max-width: 45%; height: 350px; background-color: rgb(213, 245, 234);
	}
		.btnap {background-color:rgb(213, 245, 234);	border: solid black;	text-decoration: none;	
			padding: 10px;	border-radius: 20px;	text-align: center;	color: black;	
			position: relative;	top: 60px; }
			.btnap:hover {background-color: #c6e4be;}

	.head3 {max-width: 44.7%; text-align: center; -left: 124px;
	height: 340px;background-color: rgb(213, 245, 234);}
	.btnor {background-color:rgb(213, 245, 234);	border: solid black;	text-decoration: none;	
		padding: 10px;	border-radius: 20px;	text-align: center;	color: black;	
		position: relative;	top: 30px; left: 5px;}
		.btnor:hover {background-color: #c6e4be;}
		
.head4{text-align: center;}
#i3 {-left: 125px;}
.head5 {height: 345px;max-width: 45%; text-align: center;
	background-color: rgb(248, 240, 240); }

#i4 {-left: 125px;}
.head6 {height: 345px;max-width: 45%; text-align: center; 
	background-color: rgb(248, 240, 240); }

	#i5 {-left: 125px;}
	.head7 {height: 345px;max-width: 45%; text-align: center;
		background-color: rgb(248, 240, 240); }

		/*FOOTER*/
/*About us*/
	.about {max-width:20%; max-height:30%; }
	#head1 {font-family: 'Noto Sans JP', sans-serif;}
	#abele1 {text-decoration: none;color:grey;}
	#abele2 {text-decoration: none;color:grey;}
	#abele3 {text-decoration: none;color:grey;}

/*Careers*/
	.career {max-width:20%; max-height:30%;	}
	#head2 {font-family: 'Noto Sans JP', sans-serif;}
	#crele1 {text-decoration: none;color:grey;}
	#crele2 {text-decoration: none;color:grey;}

/*Orders*/
	.Orders{max-width:20%; max-height:30%;	}
	#head3 {font-family: 'Noto Sans JP', sans-serif;}
	#orele1 {text-decoration: none;color:grey;}
	#orele2 {text-decoration: none;color:grey;}

/*Get Help*/
	.Help{max-width:20%; max-height:30%;	}
	#head4 {font-family: 'Noto Sans JP', sans-serif;}
	#hlpele1 {text-decoration: none;color:grey;}
	#hlpele2 {text-decoration: none;color:grey;}
	#hlpele3 {text-decoration: none;color:grey;}

/*LOGOS*/
	

	.pri {text-decoration:none;color:black; position: relative; left:190px;}
	.use {text-decoration:none;color:black; position: relative; }
	.CA {text-decoration:none;color:black;  position: relative; }

	.vl {	border-left: 1px solid grey;	height: 25px; }
	.v2 {	border-left: 1px solid grey;	height: 25px; }
